.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: #fff;
    margin-left: -20px;
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-left: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  
  .credit {
    margin: 0;
  }